@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
body {
  background-color: hsl(185, 75%, 39%);
}
#card {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  box-shadow: 5px;
  margin-top: 17%;
  width: 375px;
  margin-left: 35%;
  font-family: Kumbh Sans, cursive;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  height: 425px;
  display: block;
}
table {
  display: inline-block;
  text-align: center;
}
#parent {
  position: relative;
  right: 50px;
}
#profile {
  position: relative;
  top: 40px;
  bottom: 50px;
  left: 13%;
  border-radius: 50%;
  margin: 60px;
}
#background {
  width: 100%;
  left: 50px;
  border-radius: 7px;
  position: absolute;
  padding-bottom: 20%;
}
#name {
  font-size: 18px;
}
#stats {
  display: inline;
  font-size: 18px;
}
tr {
  float: left;
}
