@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

#card {
  text-align: center;
}
table {
  display: inline-block;
  text-align: center;
}
img {
  border-radius: 50%;
}
